numpy~=1.22.3
scikit-learn~=1.0.2
h5py~=3.4
tensorflow~=2.10.0
pandas~=1.4.1
matplotlib~=3.5.1
tqdm~=4.63.0
scipy~=1.8.0
keras~=2.10.0
#wfdb~=3.4.1
#neurokit2~=0.1.7
seaborn~=0.11.2
tensorflow-probability~=0.16.0
tensorflow-addons~=0.16.1
wandb~=0.15.0
